@import "../../assets/style/mixins/breakpoints.scss";
@import "../../assets/style/Colors.scss";

.contact-and-opening-hours {
  background-color: $beige-color;
  display: flex;
  align-items: center;
  gap: 80px;

  @include respond-to-extra-large {
    padding-right: 40px;
    gap: 40px;
  }

  @include respond-to-medium {
    flex-direction: column;
    padding: 0;
    gap: 32px;
  }

  &__texts {
    @include respond-to-medium {
      padding-bottom: 40px;
      text-align: center;
    }

    &__blocks {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  img {
    @include respond-to-medium {
      width: 100%;
    }
  }
}
