@import "../../assets/style/mixins/breakpoints.scss";
@import "../../assets/style/Colors.scss";

.benefits-section {
  background-color: $beige-color;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 64px 104px;
  margin: 64px 0 308px 0;
  position: relative;

  @include respond-to-extra-large {
    padding: 64px 40px;
    margin: 64px 0 208px 0;
  }

  @include respond-to-medium {
    margin: 48px 0;
    padding: 40px 0 0 0;
    gap: 0;
  }

  &__image-container {
    width: 600px;
    height: 800px;

    @include respond-to-extra-large {
      width: 400px;
      height: 600px;
    }

    &__image {
      position: absolute;
      right: 0;
      height: 100%;
      object-fit: cover;
      width: 600px;
      height: 800px;

      @include respond-to-extra-large {
        width: 400px;
        height: 600px;
        top: 160px;
      }

      @include respond-to-medium {
        width: 100%;
        position: relative;
        top: 0;
      }
    }
  }

  &__text-block {
    @include respond-to-medium {
      text-align: center;
      margin: 0 16px;
    }
  }

  &__text {
    width: 56%;

    @include respond-to-medium {
      width: 100%;
      margin-bottom: 32px;
    }

    &__title {
      width: 100%;
    }

    &__paragraph {
      margin: 0 0 24px 0;
      font-size: 24px;
    }

    &__button-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 56px;
    width: 56%;

    @include respond-to-medium {
      width: 100%;
      justify-content: center;
      margin-bottom: 32px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}
