@import "../../assets/Colors.scss";

.benefits-section {
  background-color: $green-color;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 96px 120px;
  margin: 96px 0 308px 0;
  position: relative;

  &__image-container {
    width: 600px;
    height: 800px;

    &__image {
      position: absolute;
      right: 0;
      height: 100%;
      object-fit: cover;
      width: 600px;
      height: 800px;
    }
  }

  &__text {
    width: 56%;

    &__title {
      margin: 0 0 56px;
      width: 100%;
      color: white;
    }

    &__paragraph {
      margin: 0;
      font-size: 24px;
    }

    &__button-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 56px;
    width: 56%;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}
