@import "./Colors.scss";
@import "./Fonts.scss";

body {
  background-color: $light-beige-color;
}

* {
  font-family: "Lato";
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-family: "EB Garamond";
}

h1 {
  font-size: 56px;
  font-style: italic;
  color: $gold-color;
}

h2 {
  color: $gold-color;
  font-size: 48px;
  margin-bottom: 56px;
}

h3 {
  font-size: 32px;
  font-style: italic;
  color: $green-color;
}

.button-block {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
}

.store-page__title {
  margin-top: 96px;
  text-align: center;
}
