@import "../../assets/Colors.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: $light-beige-color;
  padding: 24px 120px;

  &__first-block {
    display: flex;
    align-items: center;
  }
}
