.image-and-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: black;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-top: 56px;

    &__title {
      margin: 0 0 24px;
    }

    &__paragraph {
      margin: 0;
    }

    &__button-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
