@import "../../assets/style/mixins/breakpoints.scss";

.item-store {
  @include respond-to-medium {
    width: 100%;
  }

  &__content {
    margin-top: 24px;
    text-align: center;

    @include respond-to-medium {
      margin-top: 16px;
    }

    &__title {
      font-weight: 500;
      margin-bottom: 8px;
    }
  }

  &__image {
    width: 344px;
    height: 344px;
    object-fit: cover;

    @include respond-to-medium {
      width: 100%;
    }
  }
}
