@import "../../assets/Colors.scss";

.image-and-text-section {
  display: flex;
  align-items: center;
  gap: 104px;

  &__image-container {
    width: 600px;
    height: 800px;

    &__image {
      width: 600px;
      height: 800px;
      object-fit: cover;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    &__title {
      margin: 0 0 56px;
    }

    &__paragraph {
      margin: 0;
    }

    &__button-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__image-container {
    img {
      border-radius: 0 8px 8px 0;
    }
  }

  &___row-version {
    margin: 0 0 0 120px;
  }

  &___row-reverse-version {
    flex-direction: row-reverse;
    margin: 0 120px 0 0;
  }

  &__background-color-version {
    background-color: $green-color;
  }
}

.image-and-text-section___green-background-color-version {
  background-color: $green-color;
  color: white;
  padding-right: 120px;
  margin-right: 0;
}

.image-and-text-section___beige-background-color-version {
  background-color: $beige-color;
  padding-right: 120px;
  margin: 0 0 0 0;
}

.image-and-text-section___title-color-version {
  color: white;
}
