@import "../../assets/style/mixins/breakpoints.scss";
@import "../../assets/style/Colors.scss";

.image-and-text-section {
  display: flex;
  align-items: center;
  gap: 80px;

  @include respond-to-extra-large {
    gap: 40px;
  }

  @include respond-to-medium {
    gap: 32px;
  }

  &__image-container {
    width: 600px;
    height: 800px;

    &__image {
      width: 600px;
      height: 800px;
      object-fit: cover;
      width: 50%;

      @include respond-to-extra-large {
        width: 100%;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    @include respond-to-medium {
      padding: 0 16px 40px 16px;
      text-align: center;
    }

    &__paragraph {
      margin: 0;
    }

    &__button-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__image-container {
    img {
      border-radius: 0 8px 8px 0;
    }
  }

  &__row-version {
    margin: 0 0 0 104px;

    @include respond-to-extra-large {
      margin: 0 0 0 40px;
    }

    @include respond-to-medium {
      flex-direction: column-reverse;
      margin: 0;
    }
  }

  &__row-reverse-version {
    flex-direction: row-reverse;
    margin: 0 104px 0 0;

    @include respond-to-extra-large {
      margin: 0 40px 0 0;
    }

    @include respond-to-medium {
      flex-direction: column-reverse;
      padding: 0;
    }
  }

  &__background-color-version {
    background-color: $green-color;
  }
}

.image-and-text-section__green-background-color-version {
  background-color: $green-color;
  color: white;
  padding-right: 104px;
  margin-right: 0;

  @include respond-to-extra-large {
    padding-right: 40px;
  }

  @include respond-to-medium {
    flex-direction: column-reverse;
    padding: 0;
  }
}

.image-and-text-section__beige-background-color-version {
  background-color: $beige-color;
  padding-right: 104px;
  margin: 0 0 0 0;

  @include respond-to-extra-large {
    padding-right: 40px;
  }

  @include respond-to-medium {
    flex-direction: column;
    padding-right: 0;
  }
}

.image-and-text-section__title-color-version {
  color: white;
}

.image-and-text-section__padding-top-version {
  @include respond-to-medium {
    padding: 40px 16px 0 16px;
  }
}
