@import "../../assets/Colors.scss";
@import "../../assets/Fonts.scss";

.place-presentation-section {
  background-color: $beige-color;
  padding: 96px 104px;
  margin-bottom: 96px;

  &__texts {
    text-align: center;

    &__paragraph {
      margin-bottom: 56px;
    }
  }

  &__images-block {
    display: flex;
    justify-content: center;

    gap: 80px;

    &__image {
      object-fit: cover;
    }
  }
}
