@import "../../assets/Colors.scss";

.button {
  background-color: $dark-gold-color;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-weight: 400;
  display: flex;
  width: fit-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: end;
}
