@import "./mixins/breakpoints.scss";
@import "./Colors.scss";
@import "./Fonts.scss";

body {
  background-color: $light-beige-color;
}

* {
  font-family: "Lato";
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-family: "EB Garamond";
}

h1 {
  font-size: 56px;
  font-style: italic;
  color: $green-color;
  margin-bottom: 40px;

  @include respond-to-extra-large {
    margin-bottom: 32px;
  }

  @include respond-to-medium {
    margin-bottom: 24px;
  }
}

h2 {
  color: $gold-color;
  font-size: 48px;
  margin-bottom: 32px;

  @include respond-to-extra-large {
    margin-bottom: 24px;
  }

  @include respond-to-medium {
    margin-bottom: 16px;
  }
}

h3 {
  font-size: 24px;
  color: $green-color;
  margin-bottom: 16px;

  @include respond-to-medium {
    margin-bottom: 8px;
  }
}

.button-block {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
}
