@import "../../assets/Colors.scss";

.reviews-section {
  background-color: $green-color;
  color: white;
  padding: 96px 120px;
  text-align: center;

  &__title {
    color: white;
  }

  &__content {
    &__name {
      margin: 0 0 24px 0;
      color: white;
    }
  }
}
