@import "../../assets/Colors.scss";

.reviews-section {
  background-color: $light-beige-color;
  padding: 96px 120px;
  margin-bottom: 96px;
  text-align: center;

  &__content {
    &__name {
      margin: 0 0 24px 0;
      color: black;
    }
  }
}
