@import "../../assets/Colors.scss";
@import "../../assets/Fonts.scss";

.frequently-asked-questions-section {
  margin: 96px 0 0 0;
  width: 100%;

  &__questions-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding-right: 104px;
    padding: 96px 104px;
    background-color: $green-color;
    color: white;

    &__title {
      color: white;
    }

    &__questions {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 800px;
    }
  }
}
