@import "../../assets/style/mixins/breakpoints.scss";
@import "../../assets/style/Colors.scss";
@import "../../assets/style/Fonts.scss";

.frequently-asked-questions-section {
  margin: 64px 0 0 0;
  width: 100%;

  @include respond-to-extra-large {
    margin: 64px 0 0 0;
  }

  @include respond-to-medium {
    margin: 48px 0 0 0;
  }

  &__questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 104px;
    background-color: $green-color;
    color: white;

    @include respond-to-extra-large {
      padding: 64px 40px;
    }

    @include respond-to-medium {
      padding: 40px 16px;
    }

    &__title {
      color: white;

      @include respond-to-medium {
        display: none;
      }
    }

    &__title--mobile-version {
      color: white;
      display: none;

      @include respond-to-medium {
        display: block;
      }
    }

    &__questions {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 748px;

      @include respond-to-medium {
        width: 100%;
      }
    }
  }
}
