.address-and-access {
  margin: 96px 104px;
  &__blocks {
    display: flex;
    gap: 160px;

    &__item {
      &__title {
        margin-bottom: 24px;
      }

      &__first-paragraph,
      &__second-paragraph {
        margin-bottom: 8px;
      }
    }
  }
}
