@import "../../assets/style/Colors.scss";

.price-item {
  border-radius: 8px;

  flex: 1;

  &__block {
    border: 2px solid $beige-color;
    padding: 24px;

    &__title {
      margin-bottom: 24px;
      font-size: 24px;
    }

    &__duration {
      margin-bottom: 8px;
    }
  }
}
