.store-list {
  margin: 72px 104px 96px 104px;

  &__items-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    column-gap: 80px;
  }

  &__paragraph {
    text-align: center;
  }
}
