@import "../../assets/Fonts.scss";

.three-blocks-section {
  margin: 96px 120px;
  text-align: center;

  &__title {
    margin-bottom: 24px;
  }

  &__paragraph {
    margin-bottom: 56px;
  }

  &__three-blocks-container {
    display: flex;
    gap: 104px;
  }
}

// .column-version {
//   flex-direction: column;
// }
