@import "../../assets/Fonts.scss";

.three-blocks-section {
  margin: 96px 104px;
  text-align: center;

  &__title {
    margin-bottom: 24px;
  }

  &__paragraph {
    margin-bottom: 56px;
  }

  &__three-blocks-container {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
}
