@import "../../assets/style/mixins/breakpoints.scss";
@import "../../assets/style/Fonts.scss";
@import "../../assets/style/Colors.scss";

.reviews-page-section {
  margin: 96px 104px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;

  @include respond-to-extra-large {
    margin: 64px 40px;
  }

  @include respond-to-medium {
    margin: 56px 16px;
  }

  &__block {
    margin: auto;

    @include respond-to-medium {
      flex-direction: column;
      gap: 24px;
    }

    &__title {
      margin-bottom: 0;
      font-size: 24px;
      font-family: "EB Garamond";
      color: $gold-color;
      width: 100%;
      text-align: center;
      margin-bottom: 24px;
    }

    &__content {
      background-color: $green-color;
      padding: 40px;

      @include respond-to-medium {
        text-align: center;
      }

      &__review {
        color: white;
        text-align: center;
      }

      &__name {
        margin: 24px 0 0 0;
        color: white;
        font-size: 24px;
      }
    }
  }
}

// .reviews-page-section__block--row-reverse-version {
//   flex-direction: row-reverse;

//   @include respond-to-medium {
//     flex-direction: column;
//     gap: 24px;
//   }
// }
