@import "../../assets/style/mixins/breakpoints.scss";
@import "../../assets/style/Fonts.scss";
@import "../../assets/style/Colors.scss";

.reviews-page-section {
  margin: 64px auto;
  display: flex;
  justify-content: center;
  width: 50%;
  // grid-template-columns: repeat(2, 1fr);
  // column-gap: 80px;

  @include respond-to-extra-large {
    margin: 64px 40px;
    width: fit-content;
  }

  @include respond-to-medium {
    margin: 48px 16px;
  }

  &__block {
    margin: auto;

    @include respond-to-medium {
      flex-direction: column;
      gap: 24px;
    }

    &__title {
      margin-bottom: 0;
      font-size: 24px;
      font-family: "EB Garamond";
      color: $gold-color;
      width: 100%;
      text-align: center;
      margin-bottom: 16px;
    }

    &__content {
      background-color: $green-color;
      padding: 40px;

      @include respond-to-medium {
        text-align: center;
      }

      &__review {
        color: white;
        text-align: center;
      }
    }
  }

  // &__text-section-version {
  //   color: white;
  // }

  // &__content-section-version {
  //   padding: 0;
  // }
}
