@import "../../assets/Colors.scss";

.reading-price {
  &__blocks {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: auto;

    &__first-item,
    &__second-item  {
      &__image {
        width: 400px;
        height: 400px;
        object-fit: cover;
      }
    }

    &__first-item,
    &__second-item {
      &__content {
        background-color: $beige-color;
        padding: 24px;

        flex: 2;
        width: 400px;
      }

      &__title {
        margin-bottom: 24px;
      }

      &__duration {
        margin-bottom: 8px;
        font-weight: 500;
      }
    }
  }
}
