@import "../../assets/style/mixins/breakpoints.scss";
@import "../../assets/style/Colors.scss";

.self-practice-section {
  margin: 64px 104px 200px 0;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;

  @include respond-to-extra-large {
    margin: 64px 40px 136px 0;
  }

  @include respond-to-medium {
    margin: 48px 40px 48px 0;
  }

  &__first-image-container,
  &__second-image-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &__first-image-container {
      width: 600px;
      height: 800px;

      @include respond-to-extra-large {
        width: 400px;
        height: 600px;
      }
    }

    &__image {
      object-fit: cover;
      width: 600px;
      height: 800px;

      @include respond-to-extra-large {
        width: 400px;
        height: 600px;
      }
    }
  }

  &__second-image-container {
    &__image {
      position: absolute;
      top: 280px;
      left: 418px;
      object-fit: cover;
      width: 400px;
      height: 600px;

      @include respond-to-extra-large {
        width: 300px;
        height: 400px;
        top: 240px;
        left: 200px;
      }
    }
  }

  &__questions-container {
    background-color: $beige-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 104px 160px 280px;
    text-align: center;
    width: 100%;

    @include respond-to-extra-large {
      padding: 160px 40px 160px 140px;
    }

    //
  }
}
