@import "../../assets/style/Colors.scss";
@import "../../assets/style/Fonts.scss";

.question-and-answer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-width: 800px;

  &__question-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__dash {
      width: 8px;
      height: 2px;
      background-color: white;
    }
  }

  &__question {
    font-weight: 500;
    width: fit-content;
  }

  &__answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;

    &--open {
      opacity: 1;
      max-height: 1000px;
      transition: opacity 0.5s ease, max-height 0.5s ease;
      width: fit-content;
      margin-top: 16px;
    }
  }
}
